.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill);
  gap: 16px;
  background: #242526;
  border-radius: 8px;
  padding: 0px 4px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #f3f3f4;
  cursor: pointer;
  padding: 8px 4px;
}

.icon:hover {
  background-color: #9b9fa4;
}

.icon[data-active='true'] {
  background-color: aqua;
}
